* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Curlz MT';
    src: url('../assets/fonts/CurlzMT.woff2') format('woff2'),
    url('../assets/fonts/CurlzMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    height: 100%;
}
body {
    background: #c7ecff;
    font-size: 16px;
    padding: 7px;
    border: 2px outset #eee;
    height: 100%;
}
#main {
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(55deg, #d96e6e 0%, #e0b863 25%, #cbcb6c 50%, #9cec9c 75%, #858fff 100%);
}
#main ul {
    padding: 16px;
    font-size: 1.2rem;
}
#main ul li {
    list-style: url("../assets/img/sprite.png");
    margin-left: 25px;
}
#main p {
    font-style: italic;
    padding: 10px;
}
hr {
    color: #860000;
    margin: 10px 5px;
    height: 3px;
}
h2 {
    text-align: center;
    padding: 25px 15px 10px;
    color: #660707;
    background-image: url("../assets/img/4.jpg");
    border: 2px inset #eee;
    border-radius: 15px;
    font-family: 'Curlz MT', serif; 
    font-weight: bold;
    font-style: normal;
    font-size: clamp(24px, 5vw, 70px);
}
.img_svg {
    width: clamp(60px, 12vw, 200px);
}